body{
    background-color: rgb(26, 197, 140); /*cor do fundo do site*/
} 

footer{ /*rodape*/
    background-color: black; /*cor do f
    color: rgb(19, 21, 136);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.6rem;
    margin: 0.5rem;
}
